<div class="text-center">
      <form class="dummy-form" action="#">
          <div class="input-holder">
              <input class="form-control" type="name" placeholder="Name">
          </div>
          <div class="input-holder">
              <input class="form-control" type="email" placeholder="Email">
          </div>
          <div class="input-holder">
              <input class="form-control" type="tel" placeholder="Phone">
          </div>
          <div class="input-holder">
              <input class="form-control" type="date" placeholder="Birth">
          </div>
      </form>
</div>

