.column {
    display: flex;
    flex-direction: column;
    padding: 8px 15px;

    & > * {
        display: flex;
        justify-content: space-between;
    }

    .collapse-cont {
        display: flex;
    }
}