.row {
    display: flex;
    flex-direction: column;
    padding: 8px 15px;

    & > *,
    .collapse-cont,
    .column {
        display: flex;
    }

    & > * {
        justify-content: space-between;
    }

    .column {
        min-width: 25%;
        align-items: center;
        justify-content: center;
    }
}